


/***********************************/
/* Colors used throughout the site */
/***********************************/

:root {

  --background: 0, 0, 0;             /* 000000 */
  --foreground: 250, 250, 250;       /* fafafa */

  --color-gray: 136, 136, 136;       /* 888888 */
  --color-red: 255, 102, 102;        /* ff6666 */
  --color-pink: 255, 0, 204;         /* ff00cc */
  --color-teal: 102, 255, 255;       /* 66ffff */
  --color-blue: 8, 155, 216;         /* 089bd8 */
  --color-green: 102, 255, 102;      /* 66ff66 */
  --color-yellow: 255, 255, 102;  }  /* ffff66 */
